<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-amber-500 dark:[&>p>strong]:text-amber-500 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Profesional de TI con una trayectoria de más de 9 años. A lo largo de mi carrera he demostrado mi capacidad para <strong>diseñar, implementar y gestionar solucionar tecnológicas que han generado un impacto significativo
        en las organizaciones</strong>.
    </p>
    <p>
      Mi experiencia abarca desde el soporte al usuario hasta la gestión de infraestructuras complejas, pasando por el desarrollo de aplicacion web a medida.
    </p>
    <p>
      He participado activamente en proyectos de desarrollo de software, entre los que se destacan la colaboración en el <strong>desarrollo de un sistema de seguimiento de documentación utilizado por más de 300 empleados</strong>, lo que 
      ha optimizado los procesos internos y mejorado la trazabilidad de los documentos, reduciendo en un 100% el extravío de la documentación. 
    </p>
    <p>
      Además, como proyecto más reciente, <strong>he desarrollado de forma independendiente un sistema de gestión de reservas de inmuebles que actualmente utiliza una inmobiliaria</strong>, simplificando la administración de propiedades y la información de clientes.
    </p>
    <p>
      Mi experiencia en PHP, MySQL, Linux y tecnologías de virtualización me permite ofrecer soluciones escalables y de alto rendimiento.
    </p>
    <p>
      Como complemento, me encuentro <strong>cursando la carrera de Análista en Sistemas</strong> para fortalecer mis conocimientos y mantenerme actualizado en el mundo tecnológico.
    </p>
  </div>
</article>
